.main_cadastro {
    background-color: #1B1B1B;
    height: 100%;
    padding-bottom: 60px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.layout_grid {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}

/* Título */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 30px;
    color: white;
}

.titulo hr {
    border: none;
    border-top: 2px solid #2ACDCD;
    width: 230px;
    margin-top: 10px;
    border-radius: 2px;
}

/* Área principal */
.section_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

/* Lado esquerdo: imagem */
.banner_cadastro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_cadastro img {
    width: 420px;
    max-width: 100%;
    height: auto;
}

/* Lado direito: formulário */
.form_cadastro {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.form_cadastro form {
    width: 100%;
    max-width: 400px;
}

/* Campos */
.form_cadastro input,
.form_cadastro select,
.form_cadastro textarea {
    width: 100%;
    padding: 10px 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #2ACDCD;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
    outline: none;
}




.form_cadastro button {
    width: 100%;
    padding: 12px;
    background-color: #2F2E41;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .section_cadastro {
        flex-direction: column;
    }

    .banner_cadastro {
        display: none;
    }

    .form_cadastro {
        align-items: center;
    }

    .form_cadastro form {
        max-width: 90%;
    }
}